body * {
    padding: 0;
    margin: 0;
}

.app__body {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.app__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 20px;
    margin: 3px;
    -webkit-text-stroke: 2px white;
    -webkit-text-stroke-color: rgb(14, 132, 235);
    -webkit-text-stroke-width: 1px;
    color: wheat;

}

.app__addtodo {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 5px;
    margin: 2px;
    border: none;
}

.todo__table {
    width: 500px;
}

.todo__table >thead{
    width:100%;
}

.todo__table__head {
    background-color: blue;
    color: white;
    padding: 3px;
    margin:4px;
    border-radius: 999px;
}
.todo__table__head > :nth-child(2){
    width: 400px;
}


.app__addtodo__form {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.app__addtodo__form >input {
    outline: none;
    background-color: rgba(239, 233, 233, 0.602);
    border-radius: 999px;
    padding: 5px;
    cursor: pointer;

}


.app_todolist__body {
    flex-grow: 1;
    padding: 20px;
    background-color: lightgray;
    margin: 2px;

}

.todolist__options {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    margin: 3px;
    gap: 3rem;
}

.todolist__options>* {
    flex:1 1 1;
    margin:4px;
    padding: 13px;
    background-color: lightblue;
    color: blue;
    border: none;
    border-radius: 999px;

}

.todolist__options > *:hover {
    flex:1 1 1;
    margin:4px;
    padding: 13px;
    background-color: blue;
    color: lightblue;
    border: none;
    border-radius: 999px;
    cursor: pointer;

}

.actions{
   display: flex;
   justify-content: space-around;
}